
/* Resets */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.top-layer {
  position: fixed;
  top: 0;
  height: 100%; width:100%;
  pointer-events:none;
  z-index: 1000;

  &>div {
    pointer-events:auto;
    &#topbar {
      height: @topbar-height;
      width: 100%;
      box-shadow: 0 3px 7px @shadow-color;

      &.advanced-search {
        height: @topbar-height + @advanced-search-height;
      }
    }
    &#sidebar {
      width: @sidebar-width;
      height: calc(~"100% - "@topbar-height);
      box-shadow: 7px 0px 7px -8px @shadow-color;
    }
  }
}

.bottom-layer {
  height: 100%;
  width:100%;
  background-color: red;

  #content-wrapper {
    padding-top: @topbar-height;
    padding-left: @sidebar-width;
    height: 100%;

    &.advanced-search {
      padding-top: @topbar-height + @advanced-search-height;
    }

    &.no-sidebar {
      padding-left: 0;
      width: 100%;
    }

    #content {
      background-color:@navbar-default-bg;
      min-height: 100%;
      padding-top: 10px;
    }
  }
}

/**
 * Layout style
 */

#sidebar,#topbar {
  padding: 5px;
  background-color: @card-background-color;
}


/**
 * Card directive
 */
.card {
  background-color: @card-background-color;
  box-shadow: @card-shadow;
  margin: 0 5px 0 15px;

  &.card-big {
    margin: 10px;
  }

  .card-header {
    line-height: 1.5em;
    font-weight: bold;
  }

  li.format {
    padding-top: 10px;
    span.format {
      font-weight: bold;
    }
    span.location::before{
      padding: 5px;
      content: '-';
    }
  }
}
